*{
    margin: 0;
    padding: 0;
}

.round{
    padding: 2%;
    border-radius: 50%;
}

hr{
    background-color: #EAF6F6;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1vh dotted rgb(0, 128, 255);
}

header{
    padding-bottom: 5%;
}

main{
    padding: 5% 0;
}

footer{
    padding: 5% 0;
}