/* background color */

.bg-head{
    background-color: #EAF6F6;
}

.bg-bottom{
    background-color: #66BFBF;
}

/* text color */

.tc-light{
    color: #66BFBF;
}

.tc-dark{
    color: #40514E;
}

.tc-med{
    color: #11999E;
}

/* width */

.w-5{
    width: 5%;
}

.w-10{
    width: 10%;
}

.w-25{
    width: 25%;
}

.w-50{
    width: 50%;
}

/* font family */

.ff-monospace{
    font-family: 'Syne Mono', monospace;
}

.ff-cursive{
    font-family: 'Nerko One', cursive;
}

/* font size */

.fs-5{
    font-size: 5vw;
}

.fs-7{
    font-size: 7.5vw;
}

/* text align  */

.text-center{
    text-align: center;
}

/* flex  */

.flex-right{
    display: flex;
    flex-direction: row-reverse;
}

.flex-left{
    display: flex;
    flex-direction: row;
}