/* background color */

.bg-head{
    background-color: #EAF6F6;
}

.bg-bottom{
    background-color: #66BFBF;
}

/* text color */

.tc-light{
    color: #66BFBF;
}

.tc-dark{
    color: #40514E;
}

.tc-med{
    color: #11999E;
}

/* width */

.w-5{
    width: 5%;
}

.w-10{
    width: 10%;
}

.w-25{
    width: 25%;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

/* font family */

.ff-monospace{
    font-family: 'Syne Mono', monospace;
}

.ff-cursive{
    font-family: 'Nerko One', cursive;
    font-weight: 100;
}

/* font size */

.fs-2{
    font-size: 2.5vw;
}

.fs-5{
    font-size: 5vw;
}

.fs-7{
    font-size: 7vw;
}

.fs-10{
    font-size: 10vw;
}

/* text align  */

.text-center{
    text-align: center;
}

/* flex  */

.flex-right{
    display: flex;
    flex-direction: row-reverse;
}

.flex-left{
    display: flex;
    flex-direction: row;
}

.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-center2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* padding  */

.p-5{
    padding: 5% 0;
}

.p-2{
    padding: 2% 0;
}

.px-2{
    padding: 0 2%;
}

.px-15{
    padding: 0 15%;
}

/* margin */

.m-5{
    margin: 5% 0;
}