*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.main{
    background-color: aqua;
    padding: 10px;
}

.skill h4{
    display: inline-block;
    border-style: solid;
    padding: 5px;
    border-color: rgb(0, 68, 255);
    margin: 2px;
}

.skill a{
    text-decoration: none;
    color: black;
}

.skill{
    background-color: rgb(1, 169, 211);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    width: 30%;
    padding: 10px;
    display: inline-block;
}

.project{
    background-color: rgb(1, 169, 211);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 65%;
    padding: 10px;
    display: inline-block;
    
}

.education{
    background-color: rgb(1, 169, 211);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.footer{
    background-color: rgb(66, 66, 255);
    padding: 10px;
    text-align: center;
}